@import "Boxmodel";
@import "generales";
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.footer{
	background-color: $rosado;
}
.footer-col h4{
	padding:$PaddingB;
	font-size:$marginT;
	color: $rojo;
	margin-bottom: $PaddingB*3;
	font-family: $tipoB;
	font-weight: $pesoFC;
	display: flex;
	flex-direction: row;
	justify-content: $centro;
}
.redes--sociales{
	display: flex;
	flex-direction: row;
	justify-content: $centro;
	
}
.redes--sociales img{
	margin-top: $PaddingB/5;
	margin-right: $PaddingB;
	margin-bottom: $PaddingB/5;
	margin-left: $PaddingB;
}
.mail--celular{
	display: flex;
	flex-direction: row;
	justify-content: $centro;	
}
.mail--celular img{
	margin-top: $PaddingB/5;
	margin-right: $PaddingB;
	margin-bottom: $PaddingB/5;
	margin-left: $PaddingB;
}
.facebook:hover{
	transform: scale(2,2);
}
.instagram:hover{
	transform: scale(2,2);
}
.mail:hover{
	transform: scale (2,2);
}
.celular:hover{
	transform: scale (2,2);
}