@import "colores";
@import "generales";
@import "Boxmodel";

.encabezado h1{
	display: flex;
	flex-direction: row;
	justify-content: $centro;
	text-aling: $centro;
	font-style: $tipoC;
	font-weight: $pesoFC;
	color: $rojo;
}
.encabezado p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-aling: center;
	font-style: $tipoC;
	font-weight: $pesoFC;
	color: $rojo;
	font-size: $marginT;
	margin: $PaddingT;
	padding: $PaddingB;
}
.ubicacion__cora{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-aling: center;
	font-style: $tipoC;
	font-weight: $pesoFC;
	color: $rojo;
	margin: $PaddingT;
}
.ubicacion__mendoza--centro{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-aling: center;
	font-style: $tipoC;
	font-weight: $pesoFC;
	color: $rojo;
	font-size: $marginT;
}
.ubicacion__mapa{
	display: flex;
	flex-direction: row;
	justify-content: center;
}