@import "colores";
@import "generales";

.productos__cora{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-beetwen
}
.productos__cora{
	display:flex;
	flex-direction:row;
	justify-content: $centro;

}